//
   Created by lucavgobbi on 2016-01-02.

div(class='row')
    div(class='col-md-12')
        div(class='text-center')
            h3
                strong ABOUT BRUNA RICO
            img(src='/images/about.jpg' style='width: 100%; max-Width: 600px')
div(class='row' style='padding: 10px 10px 10px 10px;')
    div(class='col-md-12')
        div(class='text-center')
            div(style='max-Width: 600px; margin-left: auto; margin-right: auto; text-align: justify; text-justify: inter-word;')
                br
                p Hello and thank you for visiting my website.
                p It's truly a pleasure to have the opportunity to share a bit of my story with you.
                p While in university I took a trip to Vancouver, it was there that I bought my first professional camera. Shortly before receiving my degree in chemistry I started experimenting with photography.
                p Several years after graduating, the persistent nature of my passion for photography caused me to explore this interest to new heights and dive deeper into the art form. Although my career in chemistry provided both happiness and fulfillment, my infatuation for photography grew into a love that couldn't be ignored.
                p Each day after working as a full time chemist, I would pursue my passion for photography to the utmost degree. I was awe struck that through the lens of my camera I could capture exquisite moments enabling them to be realized eternally.
                p In 2015 I said goodbye to my family, friends and my career in chemistry, and in a great leap of faith moved to Toronto to pursue my second career and first love,.. Photography.
                p Each and every one of my photographs are made with love and passion, resulting in timeless pictures that will live for generations.
                p Thank you for both you're time and consideration.
                br
                p Bruna Rico.
                br
                div(class='row' style='padding: 10px 10px 10px 10px;')
                    div(style='float:right;')
                        a(class='social-network-icon-black', target='_blank', ng-show='config.twitterUrl', href='{{config.twitterUrl}}')
                            i(class='fa fa-twitter-square')
                        a(class='social-network-icon-black',target='_blank', ng-show='config.facebookUrl', href='{{config.facebookUrl}}')
                            i(class='fa fa-facebook-square')
                        a(class='social-network-icon-black',target='_blank', ng-show='config.instagramUrl', href='{{config.instagramUrl}}')
                            i(class='fa fa-instagram')