//
   Created by lucavgobbi on 7/7/15.
form(name='form', novalidate=)
    div(class='container')
        div(class='row')
            p(class='navbar-text')
                a(class='btn btn-success', data-loading-text='Saving...', ng-click='changePassword($event)')
                    i(class='fa fa-save')  Update password
        div(class='row')
            div(class='col-md-6')
                div(class='form-group', ng-class='{ "has-error": form.password.$error.required }')
                    label Password
                    input(ng-model='password', name='password', class='form-control', placeholder='Password', required,
                    data-toggle='tooltip' data-placement='top', title='User password, make it hard to guess ;)')
                    div(ng-show='form.password.$error.required') Password is required