//
   Created by lucavgobbi on 3/21/15.

ul(class='cb-slideshow')
    li
        span
            div
                h3
    li
        span
            div
                h3
    li
        span
            div
                h3
    li
        span
            div
                h3
    li
        span
            div
                h3
    li
        span
            div
                h3
div(class='home-main')
    div(class='padding-top-50 text-center', ng-bind-html='config.homeHTML')
