//
   Created by lucavgobbi on 7/7/15.
div(class='modal-body')
    div(class='form-group')
       label(for='login') Login
       input(type='email', ng-model='login', class='form-control', placeholder='Enter your login (Email)', id='login')
    div(class='form-group')
       label(for='password') Password
       input(type='password', ng-model='password', class='form-control', placeholder='Enter your password', id='password')
div(class='modal-footer')
    button(class='btn btn-success', data-loading-text='Logging in...', ng-click='submit($event)') Sign in
