//
   Created by lucavgobbi on 3/21/15.

div(class='center-container')
    div(ng-repeat='album in albums')
        div(class='col-md-4 col-sm-6 col-xs-12')
            div(class='album-cover', style={
                'background': 'url({{ album.cover }})'
            })
