//
   Created by lucavgobbi on 4/12/15.

form(name='form', novalidate=)
    div(class='container')
        div(class='row')
            p(class='navbar-text')
                a(class='btn btn-success', ng-click='saveAlbum()')
                    i(class='fa fa-save')  Save Album
        div(class='row')
            div(class='col-md-6')
                div(class='form-group', ng-class='{ "has-error": form._id.$error.required }')
                    label Unique album Id
                    input(ng-model='album._id', name='_id', class='form-control', placeholder='Unique album Id', required)
                    div(ng-show='form._id.$error.required') Unique album Id is required
                div(class='form-group', ng-class='{ "has-error": form.title.$error.required }')
                    label Title
                    input(ng-model='album.title', name='title', class='form-control', placeholder='Title', required)
                    div(ng-show='form.title.$error.required') Title is required
                div(class='form-group')
                    label Short Description
                    input(ng-model='album.shortDescription', class='form-control', placeholder='Short Description')
            div(class='col-md-6')
                div(class='form-group')
                    label Description
                    textarea(ng-model='album.description', class='form-control', rows=7, placeholder='Description')
                div(class='form-group')
                    label Date Created
                    p(class='input-group')
                        input(ng-model='album.dateCreated', class='form-control', datepicker-popup='{{format}}', is-open='opened', show-button-bar='false', ng-required='true')
                        span(class='input-group-btn')
                            button(class='btn btn-default', type='button', ng-click='openDatePicker($event)')
                                i(class='fa fa-calendar')
        div(class='row')
            div(id='links')
                a(ng-repeat='photo in photos', href='{{ photo.url }}', title='{{ photo.title }}', data-gallery)
                    img(ng-src='{{ photo.url }}', class='small-thumbs' title='{{ photo.title }}')

            div(class='blueimp-gallery', id='blueimp-gallery', data-use-bootstrap-modal="false")
                div(class='slides')
                h3(class='title')
                a(class='prev')
                a(class='next')
                a(class='close')
                a(class='play-pause')
                ol(class='indicator')
                div(class='modal fade')
                    div(class='modal-dialog')
                        div(class='modal-content')
                            div(class='modal-header')
                                button(type='button', class='close', aria-hidden='true') &times;
                                h4(class='modal-title')
                            div(class='modal-body next')
                            div(class='modal-footer')
                                button(type='button', class='btn btn-default pull-left prev')
                                    i(class='glyphicon glyphicon-chevron-left') Previous
                                button(type='button', class='btn btn-primary next')
                                    i(class='glyphicon glyphicon-chevron-right') Next

