extends layout

block content
    #wrap
        nav(class=['navbar', 'navbar-default', 'navbar-fixed-top'])
            div(class='container-fluid')
                div(class='navbar-header')
                    button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar-topmenu')
                        span(class='icon-bar')
                        span(class='icon-bar')
                        span(class='icon-bar')
                div(id='navbar-topmenu', class=['collapse', 'navbar-collapse'])
                    ul(class=['nav', 'navbar-nav'])
                        li
                            a(ui-sref='home') Home
                        li
                            a(ui-sref='portfolio') Portfolio
                        li
                            a(ui-sref='albums') Albums
                    ul(class='nav navbar-nav navbar-right', ng-hide='currentUser == undefined')
                        li
                            a Hello {{ currentUser.name }}
                        li(class='dropdown', ng-show='currentUser.isAdmin')
                            a(class='dropdown-toggle', data-toggle='dropdown', role='button') Admin
                                span(class='carret')
                            ul(class='dropdown-menu', role='menu')
                                li
                                    a(ui-sref='adminPhotos') Manage Photos
                                li
                                    a(ui-sref='adminAlbums') Manage Albums
        div(class='center-container', ui-view)

