extends layout

block content
    #wrap
        nav(class='navbar navbar-black navbar-fixed-top', ng-class='transparentNavBar ? "" : "top-nav-collapse"')
            div(class='container-fluid')
                div(class='navbar-header')
                    a(class='navbar-brand' href='/')
                        img(class='img-logo', src='/images/logo.png')
                    button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar-topmenu')
                        i(class='glyphicon glyphicon-menu-hamburger')
                div(id='navbar-topmenu', class=['collapse', 'navbar-collapse'])
                    ul(class=['nav', 'navbar-nav'])
                        li
                            a(ui-sref='home', data-toggle='collapse', data-target='#navbar-topmenu') Home
                        li
                            a(ui-sref='portfolio', data-toggle='collapse', data-target='#navbar-topmenu') Portfolio
                        li
                            a(ui-sref='publicAlbums', data-toggle='collapse', data-target='#navbar-topmenu') Albums
                        li(ng-hide='currentUser == undefined')
                            a(ui-sref='albums') Private Albums
                        li
                            a(ui-sref='about') About Me
                        li
                            a(ui-sref='contact') Contact
                    ul(class='nav navbar-nav navbar-right', ng-hide='currentUser != undefined')
                        li
                            //a(ui-sref='albums') Login
                    ul(class='nav navbar-nav navbar-right', ng-hide='currentUser == undefined')
                        li(class='dropdown')
                            a(class='dropdown-toggle', data-toggle='dropdown', role='button') Hello {{ currentUser.name }}
                                span(class='carret')
                            ul(class='dropdown-menu dropdown-black', role='menu')
                                li
                                    a(ui-sref='changePassword', data-toggle='collapse', data-target='#navbar-topmenu') Change Password
                        li(class='dropdown', ng-show='currentUser.isAdmin')
                            a(class='dropdown-toggle', data-toggle='dropdown', role='button') Admin
                                span(class='carret')
                            ul(class='dropdown-menu dropdown-black', role='menu')
                                li
                                    a(ui-sref='adminPhotos', data-toggle='collapse', data-target='#navbar-topmenu') Manage Photos
                                li
                                    a(ui-sref='adminAlbums', data-toggle='collapse', data-target='#navbar-topmenu') Manage Albums
                                li
                                    a(ui-sref='adminUsers', data-toggle='collapse', data-target='#navbar-topmenu') Manage Users
        div(class='center-container', ng-class='transparentNavBar ? "" : "padding-top-50 "', ui-view)
