doctype

html(lang='en', ng-app="ppApp")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/animate.css')
        link(rel='stylesheet', href='/stylesheets/lib/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/lib/hover/hover-min.css')
        link(rel='stylesheet', href='/stylesheets/lib/animate/animate.css')
        link(rel='stylesheet', href='/stylesheets/lib/font-awesome/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/lib/angular-ui-notification/angular-ui-notification.min.css')
        link(rel='stylesheet', href='/stylesheets/lib/cropper/cropper.min.css')
        link(rel='stylesheet', href='http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cinzel')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cinzel+Decorative')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fira+Sans:400,300')
    body
        block content
//libs
script(src='/js/lib/jquery/jquery.min.js')
script(src='/js/lib/angular/angular.min.js')
script(src='/js/lib/angular-sanitize/angular-sanitize.min.js')
script(src='/js/lib/angular-ui-router/angular-ui-router.min.js')
script(src='/js/lib/angular-animate/angular-animate.min.js')
script(src='/js/lib/angular-ui-utils/ui-utils.min.js')
script(src='/js/lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
script(src='/js/lib/bootstrap/bootstrap.min.js')
script(src='http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js')
script(src='/js/lib/bootstrap-image-gallery/bootstrap-image-gallery.min.js')
script(src='/js/lib/angular-ui-notification/angular-ui-notification.min.js')
script(src='/js/lib/underscore/underscore-min.js')
script(src='/js/lib/cropper/cropper.min.js')
//app
script(src='/js/app.js')
script(src='/js/constants/config.js')
script(src='/js/services/loginService.js')
script(src='/js/controllers/homeCtrl.js')
script(src='/js/controllers/albumCtrl.js')
script(src='/js/controllers/photoCtrl.js')
script(src='/js/controllers/userCtrl.js')
script(src='/js/controllers/portfolioCtrl.js')
script(src='/js/controllers/loginModalCtrl.js')
