html,
body {
    height: 100%;
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif; !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif; !important;
}
p, div {
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif; !important;
}

.main-title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 60px;
}

.main-title span {
    font-family: 'Cinzel', serif;
    font-size: 60px;
}

.sub-text {
    font-family: 'Fira Sans', sans-serif;
    font-size: 36px;
}

#wrap {
    min-height: 100%;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -82px 0;
    /* Pad bottom by footer height */
    padding: 0 0 80px 0;
}

/*navbar-black*/
.navbar-black {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-black .navbar-brand {
    font-weight: 700;
}

.navbar-black .navbar-brand:focus {
    outline: 0;
}

.navbar-black .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-black .navbar-brand .navbar-toggle:focus,
.navbar-black .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle {
    color: #fff;
}

.navbar-black a {
    color: #fff;
}

.navbar-black .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-black .nav li a:hover {
    outline: 0;
    color: rgba(0,0,0,.8);
    background-color: transparent;
}

.navbar-black.top-nav-collapse .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.5);
    background-color: transparent;
}

.navbar-black .nav li a:focus,
.navbar-black .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-black .nav li.active {
    outline: 0;
}

.navbar-black .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-black .nav li.active a:hover {
    color: #fff;
}

.dropdown-black :hover {
    background-color: #000000;
}

@media(min-width:768px) {
    .navbar-black {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-black.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

/*navbar-black*/

#wrap > .center-container > .home-main {
    display: table;
    width: 100%;
    height: 100vh;
    border-bottom: 0px;
    text-align: center;
    color: #fff;
    background: url(../images/background.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.social-network-icon {
    padding-left: 5px;
    font-size:30px;
    color: #fff;
}

.social-network-icon :hover {
    color: #000;
}

.home-main h1 {
    font-size: 64px;
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-50 {
    padding-top: 50px;
}

.center-container {
    height:100%;
    display: table;
    width:100%;
    margin:0;
}

.img-logo {
    height: 25px;
}

.img-logo-lg {
    width: 150px;
    float: right;
    padding-bottom: 35px;
}

.xsmall-thumbs {
    height: 60px;
}

.small-thumbs {
    height: 100px;
}

.medium-thumbs {
    height:200px; !important;
}

.thumbs-padding {
    padding-left: 5px;
    padding-bottom: 5px;
}

.big-thumbs {
    height:300px; !important;
}

.side-link:link {
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: #333333;
}

.side-link:visited {
    text-decoration: none;
    color: #333333;
}

.side-link:hover {
    text-decoration: none;
    color: #000;
}

.side-link:active {
    text-decoration: none;
    color: #333333;
}

.photo-grid {
    padding-left: 0px;
    max-width: 1106px;
    text-align: center;
}

.photo-grid li {
    display: inline-block;
    width: 250px;
}

.photo-grid img {
    display: block;
    height: auto;
}

.photo-grid figure {
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 250px;
}

.photo-grid figcaption {
    background: rgba(0,0,0,0.8);
    color: white;
    display: table;
    height: 100%;
    left: 5px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
    z-index: 100;
}

.photo-grid figcaption p {
    display: table-cell;
    font-size: 1.5em;
    position: relative;
    top: -40px;
    width: 250px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    vertical-align: middle;
}

.photo-grid li:hover figcaption {
    opacity: 1;
}

.photo-grid li:hover figcaption p {
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}

.hvr-rectangle-out:before {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    background: #5a545f; !important;
}

.full-width {
    width: 100%;
}

span.space-5 {
    padding-left: 5px;
}

span.space-15 {
    padding-left: 15px;
}

