//
   Created by lucavgobbi on 4/4/15.

div(class='container')
    div(class='row')
        p(class='navbar-text')
            a(class='btn btn-success', href='#/admin/photo/new')
                i(class='fa fa-plus')  Add new photo
            span(class='space-5')
            a(class='btn btn-default', data-loading-text='Loading Albums...', ng-click='openAlbumDialog($event)')
                i(class='fa fa-folder-o')  Add photos to album
            span(class='space-5')
            a(class='btn btn-default', data-loading-text='Importing Photos...', ng-click='importPhotos($event)')
                i(class='fa fa-folder-o')  Import Photos
    div(class='row')
        table(class='table')
            thead
                th
                th
                th Title
                th Short Description
                th Description
                th Actions
            tbody(class='table-striped')
                tr(ng-repeat='photo in photos')
                    td
                        input(type='checkbox', class='add-to-album', data-id='{{ photo._id }}')
                    td
                        img(ng-src='{{ "/thumbs" + photo.url }}', class='xsmall-thumbs' title='{{ photo.title }}')
                    td {{ photo.title }}
                    td {{ photo.shortDescription }}
                    td {{ photo.description }}
                    td
                        a(class='btn btn-sm btn-default', ui-sref='adminPhotoDetails({id: photo._id})')
                            i(class='fa fa-edit')  Edit

    div(class='modal fade', id='albumDialog', role='dialog')
        div(class='modal-dialog')
            div(class='modal-content')
                div(class='modal-header')
                    h3(class='modal-title') Add photo to album
                div(class='modal-body')
                    input(class='form-control', type='text', ng-model='albumToAdd', typeahead='album as album.title for album in albums | filter:{ title: $viewValue} | limitTo:8')
                div(class='modal-footer')
                    button(class='btn btn-sm btn-success', ng-click='addPhotosToAlbum()') Add to {{ albumToAdd.title }}
