//
   Created by lucavgobbi on 4/4/15.

div(class='container')
    div(class='row')
        p(class='navbar-text')
            a(class='btn btn-success', ng-click='savePhoto()')
                i(class='fa fa-save')  Save photo
    div(class='row')
        alert(ng-repeat='alert in alerts', type='{{alert.type}}', close='closeAlert($index)') {{alert.msg}}
    div(class='row')
        div(class='col-md-6')
            div(class='in-group')
                label Name
                input(ng-model='photo.name', class='form-control', placeholder='Name')
            div(class='form-group')
                label Title
                input(ng-model='photo.title', class='form-control', placeholder='Title')
            div(class='form-group')
                label Short Description
                input(ng-model='photo.shortDescription', class='form-control', placeholder='Short Description')
            div(class='form-group')
                label Description
                input(ng-model='photo.description', class='form-control', placeholder='Description')
            div(class='form-group')
                label Date Taken
                p(class='input-group')
                    input(ng-model='photo.dateTaken', class='form-control', datepicker-popup='{{format}}', is-open='opened', show-button-bar='false', ng-required='true')
                    span(class='input-group-btn')
                        button(class='btn btn-default', type='button', ng-click='open($event)')
                            i(class='fa fa-calendar')
            div(class='panel panel-default')
                div(class='panel-heading')
                    h3(class='panel-title') Albums
                        div(class='pull-right')
                            a(class='btn btn-sm btn-default')
                                i(class='fa fa-edit')  Edit
                        div(class='clearfix')
                div(class='panel-body')
                        p(ng-repeat='album in photo.albums') {{ album }}

        div(class='col-md-6')
            div(class='form-group')
                label Photo URL
                input(ng-model='photo.url', class='form-control', placeholder='Photo URL')
                img(ng-src='{{photo.url}}', class='full-width')
