//
   Created by lucavgobbi on 4/4/15.

div(class='container')
    div(class='row')
        alert(ng-repeat='alert in alerts', type='{{alert.type}}', close='closeAlert($index)') {{alert.msg}}
        p(class='navbar-text')
            a(class='btn btn-sm btn-success', ng-click='savePhoto()') Save photo
    div(class='row')
        div(class='col-md-6')
            div(class='form-group')
                label Name
                input(ng-model='photo.name', class='form-control', placeholder='Name')
            div(class='form-group')
                label Title
                input(ng-model='photo.title', class='form-control', placeholder='Title')
            div(class='form-group')
                label Short Description
                input(ng-model='photo.shortDescription', class='form-control', placeholder='Short Description')
            div(class='form-group')
                label Description
                input(ng-model='photo.description', class='form-control', placeholder='Description')
            div(class='form-group')
                label Date Taken
                input(ng-model='photo.dateTaken', class='form-control', placeholder='Date Taken')
        div(class='col-md-6')
            div(class='form-group')
                label Photo URL
                input(ng-model='photo.url', class='form-control', placeholder='Photo URL')
                img(ng-src='{{photo.url}}', class='full-width')
